*.tds
*.map
*.ils
*.ilf
*.ild
*.ilc
*.~*
*.cgl
*.ini
*.#*
*.pdi
*.local
*.cppcheck
*.txt
*.zip
*.str
*.stat
/__history/
__history
__recovery
Win32
Debug_Build
*.bak
*.exe
*.idb
*.obj
*.res
*.tlog
.vs/
!CMakeLists.txt
CMakeSettings.json
/embarcadero/*
build/*
out/*
.vs/*
.vscode/*
.cache/*
.scannerwork/*